:root{
    --font-family-norse: Norse, Verdana, Geneva, Tahoma, sans-serif;
    --font-family-tiltNeon: "tiltNeon", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
    font-family: Norse;
    src: url(./assets/Norse-Bold.otf);
}

@font-face {
    font-family: 'tiltNeon';
    src: url(./assets/Tilt_Neon/static/TiltNeon-Regular.ttf) format('truetype');
}


body{
    text-align: center;
}

#flexContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#leftSide, #rightSide{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#leftSide{
    min-width: 30vw; 
    max-width: 30vw;
    position: relative;
    background-color: rgba(103, 119, 163, 0.644);
    background-image: url(assets/forest-and-mountains.jpg);  
}

#rightSide{
    flex-direction: column;
    min-width: 70vw;   
    max-width: 70vw;
    background-color: rgb(143, 59, 59);
}

#logoContainerBackground{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#logoContainer{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logoImage {
width: 100%;
height: 100%;
}

#logoImage>img, #logoText{
    flex-basis: 100%;
    vertical-align: middle;
    font-size: calc(1vw + 2vh);
    white-space: nowrap;
    font-family: var(--font-family-norse);
}

#logoImage>img{
    height: 100%;
    width: 100%;
    min-width: 40px;
    min-height: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

#imageCredits{
    width: 100%;
    position: absolute;
/*  
changed div/p element with span element
span element doesn't have default margin
    margin: 0px;
    border: 0px;
    padding: 0px;
    gap: 0px;
*/
    bottom: 0px;
    background-color: rgba(34, 54, 97, 0.3);
    color: white;
    
}

#signUpForm{
    font-family: var(--font-family-tiltNeon);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    align-content: center;
    padding: 5px 30px;
    margin: 10px;
    justify-content: space-evenly;
}

#signUpForm>h1{
font-family: var(--font-family-norse);
flex: 1 0 100%;
}

#signUpForm>#inputBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    min-width: 250px;
    width: 30%;
    height: 50px;
    margin: 10px;
    gap: 20px;
}


#signUpForm>#inputBox>label{
   /* margin: 10px*/
}
#signUpForm>#inputBox>input{
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 120px;
    max-width: 200px;
}

#signUpTop{
    margin: 15px;
    padding: 30px;
}

#signUpTop>p{
    color: rgb(54, 58, 124);
    font-family: var(--font-family-tiltNeon);
    font-size: calc(1.1vh + 1.2vw);
    text-align: left;
    font-weight: 500;

}

#signUpTop>#textSignUpTopSignature{
    padding: 15px 20px;
    margin: 10px;
    font-size: calc(1.1vh + 1.3vw);
    font-weight: 600;
}

#signUpBottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

#signUpBottom>#textSignUpBottom{
    max-width: 70%;
}